body {
  background-color: gray;
}
.titulo1{
text-align: center;
color: white;
margin-top: 20px;;
}
.titulo2{
  text-align: center;
  color: white;
  margin-top: 20px;;
}

.img_responsive{
width: 100%;
max-width: 300px;
height: 100%;
max-height: 250px;
margin: auto;
align-items: center;
float:bottom;
margin-top:  100px;
}

.productos{
  width: 100%;
  max-width: 300px;
  font-size: 20px;
  margin: auto;
  text-align: center;
  color: white;
}